mc-dataext-cc-orders-system-api/src/main/mule/mc-dataext-cc-orders-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc-marketing-cloud="http://www.mulesoft.org/schema/mule/sfdc-marketing-cloud" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/sfdc-marketing-cloud http://www.mulesoft.org/schema/mule/sfdc-marketing-cloud/current/mule-sfdc-marketing-cloud.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="mc-dataext-cc-orders-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="mc-dataext-cc-orders-system-api-config" api="resource::1a9d5d84-87b0-478f-80e6-a4028e83e6d9:mc-dataext-cc-orders-system-api:1.0.3:raml:zip:mc-dataext-cc-orders-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <sfdc-marketing-cloud:config name="Salesforce_Marketing_Cloud_Config" doc:name="Salesforce Marketing Cloud Config" doc:id="3e3e719e-2918-4390-abff-fdf91e6ea3d4">
        <sfdc-marketing-cloud:basic-connection username="la-cn-mulesoft-se" password="Anypoint1357!" serviceUrl="https://mcph-g3ffk33jylh7rt3s64k78cy.soap.marketingcloudapis.com/Service.asmx" />
    </sfdc-marketing-cloud:config>
    <api-gateway:autodiscovery apiId="16614206" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="7dabc59c-cb82-44cd-bcf6-b6c2a93c669e" flowRef="mc-dataext-cc-orders-system-api-main" />
    <flow name="mc-dataext-cc-orders-system-api-main">
        <http:listener config-ref="mc-dataext-cc-orders-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="mc-dataext-cc-orders-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="mc-dataext-cc-orders-system-api-console">
        <http:listener config-ref="mc-dataext-cc-orders-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="mc-dataext-cc-orders-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\delete\(order_no):mc-dataext-cc-orders-system-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="order_no">attributes.uriParams.'order_no'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="758fddbd-d197-464c-82cd-9da91d5f8b4f">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
      "keys": {
      "key": [
        {
          "Name": "ORDER_NO",
          "Value": attributes.uriParams.order_no as String
        }]
    },
    "Name": "JM_ORDERS"

   
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="2d8eb9ad-f0a4-4772-b868-60bccb0c7c0a" message="Message avant la delete : #[payload]" />
        <sfdc-marketing-cloud:delete objectType="DataExtensionObject" doc:name="Delete objects" doc:id="0ddfd256-3bee-4afb-9ca4-fa354efcaedc" config-ref="Salesforce_Marketing_Cloud_Config" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "The Record has been deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\select\(email):mc-dataext-cc-orders-system-api-config">
        <set-variable value="#[attributes.uriParams.email]" doc:name="Set Variable" doc:id="a1e5c35e-6734-4394-96ea-488c9e45a126" variableName="email" />
        <ee:transform doc:name="Transform Message" doc:id="9ecc5c8b-24d0-4b7a-ba76-ad9e77431f99">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	Query : "select ORDER_NO,ORDER_TOTAL,CUSTOMER_NO,CUSTOMER_NAME, CUSTOMER_EMAIL, SHIPPING_STATUS, CUSTOMER_MOBILE from 'DataExtensionObject[JM_ORDERS]' WHERE  CUSTOMER_EMAIL = '" ++ vars.email ++ "'"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <sfdc-marketing-cloud:retrieve doc:name="Retrieve entities" doc:id="847c1545-3dc1-4f28-bb1f-fd839edfacf5" config-ref="Salesforce_Marketing_Cloud_Config">
            <sfdc-marketing-cloud:query><![CDATA[#[payload.Query]]]></sfdc-marketing-cloud:query>
        </sfdc-marketing-cloud:retrieve>
        <ee:transform doc:name="Transform Message" doc:id="43eef950-aad3-4290-acf4-9b0ee45ed3be">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="efaf48b0-ad0f-4cd6-8fee-4a2c2cb23d9b" message="Message après le get : #[payload]" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ((item, index) -> 

    {( item.Properties.Property map ((item2, index2) -> 
            (item2.Name): item2.Value
        ) 
    )}
)]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\create:application\json:mc-dataext-cc-orders-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="ed369d35-a65c-4d37-b7fc-223f459d9f27">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[{
      "Properties": {
      "Property": [
        {
          "Name": "ORDER_NO",
          "Value": payload.ORDER_NO
        },
        {
          "Name": "ORDER_TOTAL",
          "Value": payload.ORDER_TOTAL
        },
        {
          "Name": "CUSTOMER_NO",
          "Value": payload.CUSTOMER_NO
        },
        {
          "Name": "CUSTOMER_NAME",
          "Value": payload.CUSTOMER_NAME
        },
        {
          "Name": "CUSTOMER_EMAIL",
          "Value": payload.CUSTOMER_EMAIL
        },
        {
          "Name": "SHIPPING_STATUS",
          "Value": payload.SHIPPING_STATUS
        },
        {
          "Name": "CUSTOMER_MOBILE",
          "Value": payload.CUSTOMER_MOBILE
        }
      ]
    },
    "Name": "JM_ORDERS"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="06f6d584-093c-47fd-bd90-cf4f662a1c67" message="Message avant la creation : #[payload]" />
        <sfdc-marketing-cloud:create doc:name="Create entities" doc:id="a78191c8-fbaf-4161-9a75-e4ae2bd9c0b0" config-ref="Salesforce_Marketing_Cloud_Config" objectType="DataExtensionObject" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  Message: "The record has been created"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
